/* Para pantallas pequeñas */
.card {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 3% 0 3% 0;
}

.card-text {
  margin: 3% 0 3% 0;
}

.btn-delete-task {
  width: 80%;
  height: 40px;
  background-color: rgb(190, 40, 40);
  border: none;
  margin: 5% 0 5% 0;
}

/* Pantallas medianas (tablets) */
@media (min-width: 576px) {
  .card {
    width: 43%;
    margin: 3%;
  }
}

/* Pantallas grandes (laptops) */
@media (min-width: 768px) {
  .card {
    width: 40%;
    margin: 2%;
  }
}

/* Pantallas muy grandes (desktops) */
@media (min-width: 1200px) {
  .card {
    width: 20%;
    margin: 1%;
  }
}
