.footer {
  padding: 5% 0;
  font-size: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
}

.footer-p {
  color: #f0ffff;
  margin: 10px 10px 10px 0;
}

.logo-footer {
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
  }

  .logo-footer {
    width: 30px;
    height: 30px;
  }
}
